<div class="login-page">
    <div class="left-side">
        <div class="left-side-content">
            <div class="brand">
                <img [src]="translateService.currentLang === 'ru' ? 'assets/icons/logo-main-ru.svg' : 'assets/icons/logo-main-kz.svg'" alt="Logo" />
            </div>
        </div>
    </div>

    <div class="right-side">
        <div class="lang-toggle">
            <span class="pill" (click)="setCurrentLang('kz')" [class.active]="translateService.currentLang=='kz'">Қаз</span>
            <span class="pill" (click)="setCurrentLang('ru')" [class.active]="translateService.currentLang=='ru'">Ру</span>
        </div>

        <form
            cForm
            novalidate
            [formGroup]="loginForm"
            (ngSubmit)="login()"
            *ngIf="form == 'LOGIN'"
            class="login-form"
        >
            <div class="form-header">
                <h1>{{ 'welcome' | translate }}!</h1>
                <p class="subtitle">{{'welcome-family' | translate }}</p>

                <!-- <h1>    {{ "login-page.login" | translate }}</h1>
                <p class="subtitle">{{ "login-page.sign-in-desc" | translate }}</p> -->
            </div>

            <div
                class="input-field"
                [class.ng-invalid]="isFieldInvalid('username')"
                [class.ng-touched]="isFieldInvalid('username')"
            >
                <svg cIcon name="cilUser" class="input-icon"></svg>
                <input
                    autocomplete="username"
                    formControlName="username"
                    placeholder="{{ 'login-page.username' | translate }}"
                    class="form-input"
                />
            </div>
            <div class="error-message" *ngIf="isFieldInvalid('username')">
                {{ 'login-page.this-field-is-required' | translate }}
            </div>

            <div
                class="input-field"
                [class.ng-invalid]="isFieldInvalid('password')"
                [class.ng-touched]="isFieldInvalid('password')"
            >
                <svg cIcon name="cilLockLocked" class="input-icon"></svg>
                <input
                    autocomplete="current-password"
                    formControlName="password"
                    [type]="showPassword ? 'text' : 'password'"
                    placeholder="{{ 'login-page.password' | translate }}"
                    class="form-input"
                />
                <svg
                    cIcon
                    [name]="showPassword ? 'cilEye' : 'cilEyeSlash'"
                    class="input-icon-right"
                    (click)="togglePasswordVisibility()"
                ></svg>
            </div>
            <div class="error-message" *ngIf="isFieldInvalid('password')">
                {{ 'login-page.this-field-is-required' | translate }}
            </div>

            <div class="input-caption">
                <button
                    type="button"
                    cButton
                    color="link"
                    class="px-0 caption-link"
                    (click)="changeForm('PASSWORD')"
                >
                    {{ 'forgot-password' | translate }}
                </button>
            </div>

            <button
                type="submit"
                cButton
                class="submit-btn"
                color="primary"
                [disabled]="!loginForm.valid"
            >
                {{ "login-page.enter" | translate }}
            </button>
        </form>

        <form
            cForm
            novalidate
            [formGroup]="passwordForm"
            (ngSubmit)="changePassword()"
            *ngIf="form == 'PASSWORD'"
            class="login-form"
        >
            <div class="form-header">
                <h1>{{ 'login-page.change-password' | translate }}</h1>
                <p class="subtitle">{{'login-page.change-password-desc' | translate }}</p>
            </div>
            <div
                class="input-field"
                [class.ng-invalid]="isFieldInvalid('username')"
                [class.ng-touched]="isFieldInvalid('username')"
            >
                <svg cIcon name="cilLockLocked" class="input-icon"></svg>
                <input
                    formControlName="username"
                    type="text"
                    placeholder="{{ 'login-page.username' | translate }}"
                    class="form-input"
                />
            </div>
            <div
                class="input-field"
                [class.ng-invalid]="isPasswordFieldInvalid('password')"
                [class.ng-touched]="isPasswordFieldInvalid('password')"
            >
                <svg cIcon name="cilLockLocked" class="input-icon"></svg>
                <input
                    autocomplete="current-password"
                    formControlName="password"
                    type="password"
                    placeholder="{{ 'current-password' | translate }}"
                    class="form-input"
                />
            </div>
            <div
                class="error-message"
                *ngIf="isPasswordFieldInvalid('password')"
            >
                {{ 'login-page.this-field-is-required' | translate }}
            </div>
            <div
                class="input-field"
                [class.ng-invalid]="isPasswordFieldInvalid('newPassword')"
                [class.ng-touched]="isPasswordFieldInvalid('newPassword')"
            >
                <svg cIcon name="cilLockLocked" class="input-icon"></svg>
                <input
                    [type]="showNewPassword ? 'text' : 'password'"
                    formControlName="newPassword"
                    autocomplete="new-password"
                    required
                    placeholder="{{ 'login-page.new-password' | translate }}"
                    class="form-input"
                />

                <svg
                    cIcon
                    [name]="showNewPassword ? 'cilEye' : 'cilEyeSlash'"
                    class="input-icon-right"
                    (click)="toggleNewPasswordVisibility()"
                ></svg>
            </div>
            <div
                class="error-message"
                *ngIf="isPasswordFieldInvalid('newPassword')"
            >
                {{ 'login-page.this-field-is-required' | translate }}
            </div>
            <div
                class="input-field"
                [class.ng-invalid]="isPasswordFieldInvalid('confirmPassword')"
                [class.ng-touched]="isPasswordFieldInvalid('confirmPassword')"
            >
                <svg cIcon name="cilLockLocked" class="input-icon"></svg>
                <input
                    [type]="showConfirmPassword ? 'text' : 'password'"
                    formControlName="confirmPassword"
                    autocomplete="confirm-password"
                    required
                    placeholder="{{ 'login-page.confirm-password' | translate }}"
                    class="form-input"
                />
                <svg
                    cIcon
                    [name]="showConfirmPassword ? 'cilEye' : 'cilEyeSlash'"
                    class="input-icon-right"
                    (click)="toggleConfirmPasswordVisibility()"
                ></svg>
            </div>
            <div
                class="error-message"
                *ngIf="isPasswordFieldInvalid('confirmPassword')"
            >
                {{ 'login-page.this-field-is-required' | translate }}
            </div>

            <button
                type="submit"
                cButton
                class="submit-btn"
                color="primary"
                [disabled]="!passwordForm.valid"
            >
                {{ "save" | translate }}
            </button>

            <button
                cButton
                color="link"
                type="button"
                (click)="changeForm('LOGIN')"
            >
                {{ "cancel" | translate }}
            </button>
        </form>
    </div>
</div>
