<div class="login-page">
    <div class="left-side">
        <div class="left-side-content">
            <div class="brand">
                <img src="assets/images/logo-main.svg" alt="Logo" />
            </div>
        </div>
    </div>

    <div class="right-side">
        <div class="lang-toggle">
            <span class="pill">Ру</span>
        </div>

        <form
            cForm
            novalidate
            [formGroup]="loginForm"
            (ngSubmit)="login()"
            *ngIf="form == 'LOGIN'"
            class="login-form"
        >
            <div class="welcome">
                <h1>{{ "login-page.login" | translate }}</h1>
                <p class="subtitle">{{ "login-page.sign-in-desc" | translate }}</p>
            </div>

            <c-input-group class="mb-3">
                <span cInputGroupText><svg cIcon name="cilUser"></svg></span>
                <input
                    autoComplete="username"
                    cFormControl
                    formControlName="username"
                    placeholder="{{ 'login-page.username' | translate }}"
                />
            </c-input-group>

            <c-input-group class="mb-2">
                <span cInputGroupText><svg cIcon name="cilLockLocked"></svg></span>
                <input
                    autoComplete="current-password"
                    cFormControl
                    formControlName="password"
                    type="password"
                    placeholder="{{ 'login-page.password' | translate }}"
                />
            </c-input-group>

            <div class="input-caption">
                <button type="button" cButton color="link" class="px-0 caption-link" (click)="changeForm('PASSWORD')">Забыли пароль</button>
            </div>

            <button
                type="submit"
                cButton
                class="submit-btn"
                color="primary"
                [disabled]="!loginForm.valid"
            >
                {{ "login-page.enter" | translate }}
            </button>
        </form>

        <form
            cForm
            novalidate
            [formGroup]="passwordForm"
            (ngSubmit)="changePassword()"
            *ngIf="form == 'PASSWORD'"
            class="login-form"
        >
            <h1>{{ "login-page.change-password" | translate }}</h1>
            <p class="subtitle">{{ "login-page.change-password-desc" | translate }}</p>
            <c-input-group class="mb-3">
                <span cInputGroupText><svg cIcon name="cilUser"></svg></span>
                <input
                    autoComplete="username"
                    cFormControl
                    formControlName="username"
                    placeholder="{{ 'login-page.username' | translate }}"
                />
            </c-input-group>
            <c-input-group class="mb-3">
                <span cInputGroupText><svg cIcon name="cilLockLocked"></svg></span>
                <input
                    autoComplete="current-password"
                    cFormControl
                    formControlName="password"
                    type="password"
                    placeholder="{{ 'login-page.password' | translate }}"
                />
            </c-input-group>
            <c-input-group class="mb-3">
                <span cInputGroupText><svg cIcon name="cilLockLocked"></svg></span>
                <input
                    cFormControl
                    type="password"
                    formControlName="newPassword"
                    autoComplete="new-password"
                    required
                    placeholder="{{ 'login-page.new-password' | translate }}"
                />
                <span
                    cInputGroupText
                    role="button"
                    cPopoverPlacement="right"
                    [cPopover]="passPopoverHtml"
                    [cPopoverTrigger]="'click'"
                >
                    <i class="fa fa-info"></i>
                </span>
            </c-input-group>
            <c-input-group class="mb-4">
                <span cInputGroupText><svg cIcon name="cilLockLocked"></svg></span>
                <input
                    cFormControl
                    type="password"
                    formControlName="confirmPassword"
                    autoComplete="confirm-password"
                    required
                    placeholder="{{ 'login-page.confirm-password' | translate }}"
                />
                <span
                    cInputGroupText
                    role="button"
                    cPopoverPlacement="right"
                    [cPopover]="passPopoverHtml"
                    [cPopoverTrigger]="'click'"
                >
                    <i class="fa fa-info"></i>
                </span>
            </c-input-group>
            <c-row>
                <c-col xs="6">
                    <button
                        type="submit"
                        cButton
                        class="px-4"
                        color="primary"
                        [disabled]="!passwordForm.valid"
                    >
                        {{ "save" | translate }}
                    </button>
                </c-col>
                <c-col class="text-end" xs="6">
                    <button
                        cButton
                        class="px-0"
                        color="link"
                        (click)="changeForm('LOGIN')"
                    >
                        {{ "cancel" | translate }}
                    </button>
                </c-col>
            </c-row>
            <ng-template #passPopoverHtml>
                <h3 class="popover-header">
                    {{ "login-page.password-requirements" | translate }}
                </h3>
                <div class="popover-body">
                    <li>{{ "login-page.password-requirement-1" | translate }}</li>
                    <li>{{ "login-page.password-requirement-2" | translate }}</li>
                </div>
            </ng-template>
        </form>
    </div>
</div>
