<!--sidebar-->
<c-sidebar #sidebar="cSidebar" class="d-print-none sidebar sidebar-fixed" id="sidebar" visible>

    <c-sidebar-brand routerLink="./">
        <!-- <span class="text-uppercase fw-bold">{{ 'title' | translate }}</span> -->
        <!-- <img src="assets/icons/logo-brand.svg" alt="Logo" /> -->

        <div class="brand">
            <img [src]="'assets/icons/logo.svg'" alt="Logo"   class="brand-logo"/>
            <div class="brand-text-container">
                <p class="brand-text-line">{{ 'brand-text-line-1' | translate }}</p>
                <p class="brand-text-line">{{ 'brand-text-line-2' | translate }}</p>
                <p class="brand-text-line">{{ 'brand-text-line-3' | translate }}</p>
            </div>
        </div>

    </c-sidebar-brand>
    <perfect-scrollbar [config]="perfectScrollbarConfig">
        <!--  [perfectScrollbar]="perfectScrollbarConfig"-->
        <c-sidebar-nav [navItems]="navItems"></c-sidebar-nav>
    </perfect-scrollbar>
    <!--<c-sidebar-toggler *ngIf="!sidebar.narrow" toggle="unfoldable" cSidebarToggle="sidebar"></c-sidebar-toggler>-->
</c-sidebar>

<!--main-->
<div class="wrapper d-flex flex-column min-vh-100  ">
    <!--app-header-->
    <app-default-header class="mb-4 d-print-none header header-sticky" position="sticky"
                        sidebarId="sidebar"></app-default-header>
    <!--app-body-->
    <div class="body flex-grow-1 px-4">
        <c-container fluid class="h-auto">
            <router-outlet></router-outlet>
        </c-container>
    </div>
    <!--app footer-->
    <app-default-footer></app-default-footer>
</div>
