.bg-yellow {
    background-color: #ffff99;
    //background-color: #ffd700;
}

.bg-blue {
    background-color: #99ddff;
}

.bg-green {
    background-color: #85e085;
}

.bg-red {
    //background-color: #ff6666;
    background-color: #cd5c5c;
}
