<h2>Трудные жизненные ситуации</h2>

<div class="tzhs-card">
    <div class="tzhs-card__header">
        <span class="tzhs-card__title">Наименование</span>
    </div>

    <div class="tzhs-card__divider"></div>

    <div class="tzhs-card__content">
        <div
            class="tzhs-item"
            *ngFor="let item of dictionary; let idx = index"
            (click)="selectMemberPage(item)"
            [ngClass]="{
                'tzhs-item--selected':
                    selectedTzhsId && selectedTzhsId === item.code
            }"
        >
            <div class="tzhs-item__title">
                {{ utilService.getLocalization(item.nameKz, item.nameRu) }}
            </div>
            <div class="tzhs-item__description">
                {{ item.descr }}
            </div>
        </div>
    </div>
</div>

<c-card class="mb-4" [cBorder]="'secondary'" *ngIf="selectedTzhsId">
    <c-card-header>
        <span class="pe-2"><svg cIcon name="cilJustifyLeft"></svg></span>
        <strong>{{ "lists" | translate }}</strong>
        <!--        <span class="float-end">-->
        <!--            <span>Скачать</span>-->
        <!--            <button cButton color="success" variant="ghost" size="sm" >-->
        <!--                <i class="fa fa-file-excel-o"></i></button>-->
        <!--        </span>-->
    </c-card-header>
    <c-card-body>
        <!-- LIST -->
        <table cTable striped hover *ngIf="list.length > 0">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ИИН</th>
                    <!--                <th scope="col" class="text-center">{{ 'need-actions-page.form' | translate }}</th>-->
                    <th scope="col">ФИО</th>
                    <th scope="col">Дата рождения</th>
                    <th scope="col">Адрес</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of list; let idx = index">
                    <th scope="row">
                        {{
                            (pagination.currentPage - 1) *
                                pagination.itemsPerPage +
                                idx +
                                1
                        }}
                    </th>
                    <td>
                        <a
                            target="_blank"
                            class="link-info"
                            [routerLink]="['/family/' + item.iin]"
                            (click)="
                                utilService.navigateToFamilyPortrait(item.iin)
                            "
                        >
                            {{ item.iin }}
                        </a>
                    </td>
                    <td>{{ utilService.getCapitalized(item.fio) }}</td>
                    <td>{{ item.birthDate }}</td>
                    <td>{{ item.address }}</td>
                </tr>
            </tbody>
        </table>

        <c-alert color="warning" *ngIf="list.length == 0">
            {{ "warnings.no-data-found" | translate }}
        </c-alert>
    </c-card-body>
    <c-card-footer>
        <c-row>
            <c-col [md]="10">
                <pagination
                    class="pagination-sm mb-0"
                    *ngIf="pagination.totalItems > pagination.itemsPerPage"
                    [(ngModel)]="pagination.currentPage"
                    [itemsPerPage]="pagination.itemsPerPage"
                    [totalItems]="pagination.totalItems"
                    [maxSize]="pagination.maxSize"
                    [boundaryLinks]="true"
                    (pageChanged)="changePage($event.page)"
                    previousText="&lsaquo;"
                    nextText="&rsaquo;"
                    firstText="&laquo;"
                    lastText="&raquo;"
                ></pagination>
            </c-col>
            <c-col [md]="2">
                <div class="text-lowercase float-end">
                    <small
                        >{{ "item-count" | translate }}:
                        {{
                            utilService.numberFormat(pagination.totalItems)
                        }}</small
                    >
                </div>
            </c-col>
        </c-row>
    </c-card-footer>
</c-card>
