<div class="mb-4" *ngIf="displayPersonalInfo && personHrList.length > 0">
    <div class="border-bottom border-bottom-2 border-bottom-info text-info mb-2 pb-1 ps-3">
        <strong>{{ 'person-portrait.header.hr' | translate }}</strong>
    </div>

    <c-row>
        <c-col [md]="2" class="fw-medium">{{ 'nomination' | translate }}</c-col>
        <c-col [md]="10">
            {{ translateService.currentLang === 'kz' ? personHrList[0].orgNameKz : personHrList[0].orgNameRu }}</c-col>
    </c-row>
    <c-row>
        <c-col [md]="6">
            <c-row>
                <c-col [md]="4" class="fw-medium">{{ 'person-portrait.bin' | translate }}</c-col>
                <c-col [md]="8">{{ personHrList[0].bin }}</c-col>
            </c-row>
            <c-row>
                <c-col [md]="4" class="fw-medium">{{ 'person-portrait.date-begin' | translate }}</c-col>
                <c-col [md]="8">{{ personHrList[0].contractBeginDate }}</c-col>
            </c-row>
        </c-col>
        <c-col [md]="6">
            <c-row>
                <c-col [md]="4" class="fw-medium">{{ 'person-portrait.position' | translate }}</c-col>
                <c-col [md]="8">{{ personHrList[0].contractEstablishedPost }}</c-col>
            </c-row>
            <c-row>
                <c-col [md]="4" class="fw-medium">{{ 'person-portrait.date-end' | translate }}</c-col>
                <c-col [md]="8">{{ personHrList[0].terminationDate }}</c-col>
            </c-row>
        </c-col>
    </c-row>

    <c-row class="fw-medium mb-1 mt-2">
        <c-col [md]="8">{{ 'person-portrait.position' | translate }}</c-col>
        <c-col [md]="4" class="text-center">{{ 'person-portrait.sub-contract-begin-date' | translate }}</c-col>
    </c-row>
    <c-row class="border-top mb-1" *ngFor="let hr of personHrList; let idx = index">
        <c-col [md]="8">{{ hr.subContractEstablishedPost }}</c-col>
        <c-col [md]="4" class="text-center">{{ hr.subContractBeginDate }}</c-col>
    </c-row>

</div>


