<div class="mb-4" *ngIf="displayPersonalInfo && taxList.length > 0">
    <div class="border-bottom border-bottom-2 border-bottom-info text-info mb-2 pb-1 ps-3">
        <strong>{{ 'person-portrait.header.tax' | translate }}</strong>
    </div>
    <c-row class="fw-medium mb-1">
        <c-col [md]="4">{{ 'nomination' | translate }}</c-col>
        <c-col [md]="3">{{ 'person-portrait.tax.org' | translate }}</c-col>
        <c-col [md]="2">{{ 'person-portrait.tax.sum' | translate }}</c-col>
        <c-col [md]="1">{{ 'person-portrait.tax.date-period' | translate }}</c-col>
        <c-col [md]="2" class="text-center">{{ 'person-portrait.tax.date-fact' | translate }}</c-col>
    </c-row>
    <c-row class="border-top mb-1" *ngFor="let ps of taxList; let idx = index">
        <c-col [md]="4"><span class="me-2">{{ (idx + 1) + '.' }}</span>
            {{ ps.nameCode }}</c-col>
        <c-col [md]="3">{{ ps.dgdName }}</c-col>
        <c-col [md]="2">{{ ps.summa }}</c-col>
        <c-col [md]="1">{{ ps.datePeriod }}</c-col>
        <c-col [md]="2" class="text-center">{{ ps.dateFact }}</c-col>
    </c-row>
</div>
