<div class="mb-4" *ngIf="displayPersonalInfo && meriIpars.length > 0">
    <div class="border-bottom border-bottom-2 border-bottom-info text-info mb-2 pb-1 ps-3">
        <strong>{{ 'person-portrait.header.meri-ipars' | translate }}</strong>
    </div>
    <c-row class="fw-medium mb-1">
        <c-col [md]="4">{{ 'nomination' | translate }}</c-col>
        <c-col [md]="2">{{ 'person-portrait.meri-ipars.app-date' | translate }}</c-col>
        <c-col [md]="2">{{ 'person-portrait.meri-ipars.help-stat-date' | translate }}</c-col>
        <c-col [md]="2">{{ 'person-portrait.meri-ipars.help-stat-name-ru' | translate }}</c-col>
        <c-col [md]="2">{{ 'person-portrait.meri-ipars.dec-refuse-name-ru' | translate }}</c-col>
    </c-row>
    <c-row class="border-top mb-1" *ngFor="let ps of meriIpars; let idx = index">
        <c-col [md]="4"><span class="me-2">{{ (idx + 1) + '.' }}</span>
            {{ ps.helpName }}</c-col>
        <c-col [md]="2">{{ ps.appDate }}</c-col>
        <c-col [md]="2">{{ ps.helpStatDate }}</c-col>
        <c-col [md]="2">{{ ps.helpStatNameRu }}</c-col>
        <c-col [md]="2">{{ ps.decRefuseNameRu }}</c-col>
    </c-row>
</div>
