<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
    <c-container [fluid]="true">
        <button toggle="visible" cHeaderToggler [cSidebarToggle]="sidebarId" class="ps-1">
            <svg cIcon name="cilMenu" size="lg"></svg>
        </button>

        <c-header-nav class="d-none d-lg-flex me-auto">
            <!-- ИИН -->
            <form (submit)="searchByIIN()" *ngIf="hasPermissions(permissions.SEARCH_IIN, permissions.SEARCH_IIN_DE) && authService.getUserId() !== authService.DEMO_USER_ID" cForm novalidate>
                <c-input-group class="my-1 mx-4 custom-input-group" sizing="sm" style="width: 200px">
                     <input   cFormControl name="search-iin" maxlength="12" aria-describedby="search-iin"
                           aria-label="Search by IIN" placeholder="{{ 'iin' | translate }}" [(ngModel)]="iin"/>
                    <button type="submit" cButton color="info" class="text-white">
                        <i class="fa fa-search"></i>
                    </button>
                </c-input-group>
            </form>

            <!-- ФИО -->
            <form (submit)="searchByFullName()" *ngIf="hasPermission(permissions.SEARCH_FULL_NAME)" cForm novalidate>
                <c-input-group class="my-1 mx-4 custom-input-group" sizing="sm" style="width: 320px">
                     <input cFormControl name="search-full-name" maxlength="30" aria-describedby="search-full-name"
                           aria-label="Search by full name" placeholder="{{ getSearchDescriptionKey() | translate }}"
                           [(ngModel)]="fullName"/>
                    <c-dropdown size="sm">
                        <button split cButton cDropdownToggle color="secondary" variant="outline" size="sm" class="toggle-btn">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <div cDropdownMenu>
                            <a [routerLink] cDropdownItem (click)="toggleSearchFullName('FULL')"
                               [ngClass]="{'bg-light': fullNameMode == 'FULL'}">
                                {{ 'header-menu.search.full-name-desc' | translate }}</a>
                            <a [routerLink] cDropdownItem (click)="toggleSearchFullName('NAME')"
                               [ngClass]="{'bg-light': fullNameMode == 'NAME'}">
                                {{ 'header-menu.search.surname-name-desc' | translate }}</a>
                            <a [routerLink] cDropdownItem (click)="toggleSearchFullName('SURNAME')"
                               [ngClass]="{'bg-light': fullNameMode == 'SURNAME'}">
                                {{ 'header-menu.search.surname-desc' | translate }}</a>
                        </div>
                    </c-dropdown>
                    <button type="submit" cButton color="info" class="text-white">
                        <i class="fa fa-search"></i>
                    </button>
                </c-input-group>


            </form>

            <!--
            <c-nav-item>
                <a cNavLink routerLink="/dashboard" routerLinkActive="active">{{ 'header-menu.main' | translate }}</a>
            </c-nav-item>
            <c-nav-item>
                <a cNavLink routerLink="/users" routerLinkActive="active">{{ 'header-menu.users' | translate }}</a>
            </c-nav-item>
            <c-nav-item>
                <a cNavLink routerLink="/settings" routerLinkActive="active">{{ 'header-menu.reports' | translate }}</a>
            </c-nav-item>
            -->
        </c-header-nav>

        <c-header-nav class="ms-3">
            <div class="fw-medium">{{ userRegion() }}</div>
        </c-header-nav>

        <c-header-nav class="ms-3">
            <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
        </c-header-nav>
    </c-container>

    <!--
    <c-header-divider></c-header-divider>

    <c-container [fluid]="true">
        <c-breadcrumb-router class="ms-2"></c-breadcrumb-router>
    </c-container>-->

</ng-container>
<!--</c-header>-->

<ng-template #userDropdown>
    <c-dropdown alignment="end" variant="nav-item">
        <button cButton color="" [caret]="false" cDropdownToggle class="py-0">
            <c-avatar color="secondary" textColor="white">
                <svg cIcon name="cilUser"></svg>
            </c-avatar>
        </button>
        <ul cDropdownMenu class="pt-0 pr-5 w-auto">
            <li>
                <h6 cDropdownHeader class="bg-light fw-semibold py-2">
                    {{ 'header-menu.settings' | translate }}
                </h6>
            </li>
            <li>
                <a routerLink="./" cDropdownItem>
                    <svg cIcon class="me-2" name="cilUser"></svg>
                    {{ 'header-menu.profile' | translate }}
                </a>
            </li>
            <!--
            <li>
                <a routerLink="./" cDropdownItem>
                    <svg cIcon class="me-2" name="cilSettings"></svg>
                    {{ 'header-menu.settings' | translate }}
                </a>
            </li>-->
            <li>
                <h6 cDropdownHeader class="bg-light fw-semibold py-2">
                    {{ 'header-menu.language.label' | translate }}
                </h6>
            </li>
            <li>
                <a cDropdownItem (click)="changeLanguage('kz')">
                    <div class="float-start me-2" style="width: 20px" >KZ</div>
                    {{ 'header-menu.language.kz' | translate }}
                </a>
            </li>
            <li>
                <a cDropdownItem (click)="changeLanguage('ru')">
                    <div class="float-start me-2" style="width: 20px" >RU</div>
                    {{ 'header-menu.language.ru' | translate }}
                </a>
            </li>
            <li>
                <hr cDropdownDivider/>
            </li>
            <li>
                <a routerLink="./" cDropdownItem (click)="logout()">
                    <svg cIcon class="me-2" name="cilLockLocked"></svg>
                    {{ 'header-menu.logout' | translate }}
                </a>
            </li>
        </ul>
    </c-dropdown>
</ng-template>

