.filter-group-elem-line {
    box-shadow: 0px 1px 0px 0px #2C384A;
}

.filter-group {
    border-color: #CECECE;
}

.bg-yellow {
    background-color: #ffff99;
    //background-color: #ffd700;
}

.bg-blue {
    background-color: #99ddff;
}

.bg-green {
    background-color: #85e085;
}

.bg-red {
    //background-color: #ff6666;
    background-color: #cd5c5c;
}

.region-column {
    min-width: 250px;
}

.value-column {
    min-width: 100px;
}
