<div class="mb-4" *ngIf="displayPersonalInfo && education">
    <div class="border-bottom border-bottom-2 border-bottom-info text-info mb-2 pb-1 ps-3">
        <strong>{{ 'person-portrait.header.education' | translate }}</strong>
    </div>

    <c-row>
        <c-col [md]="8">
            <c-row *ngIf="education.orgNameKz || education.orgNameRu">
                <c-col [md]="3" class="fw-medium">{{ 'person-portrait.education.organization' | translate }}</c-col>
                <c-col [md]="9">
                    {{ translateService.currentLang === 'kz' ? education.orgNameKz : education.orgNameRu }}</c-col>
            </c-row>
            <c-row *ngIf="education.categoryKz || education.specialtyRu">
                <c-col [md]="3" class="fw-medium">{{ 'person-portrait.education.category' | translate }}</c-col>
                <c-col [md]="9">
                    {{ translateService.currentLang === 'kz' ? education.categoryKz : education.categoryRu }}</c-col>
            </c-row>
            <c-row *ngIf="education.specialtyKz || education.specialtyRu">
                <c-col [md]="3" class="fw-medium">{{ 'person-portrait.education.specialty' | translate }}</c-col>
                <c-col [md]="9">
                    {{ translateService.currentLang === 'kz' ? education.specialtyKz : education.specialtyRu }}</c-col>
            </c-row>
            <c-row *ngIf="education.statusKz || education.statusRu">
                <c-col [md]="3" class="fw-medium">{{ 'person-portrait.education.status' | translate }}</c-col>
                <c-col [md]="9">
                    {{ translateService.currentLang === 'kz' ? education.statusKz : education.statusRu }}</c-col>
            </c-row>
        </c-col>
        <c-col [md]="4">
            <c-row>
                <c-col [md]="6" class="fw-medium">{{ 'person-portrait.education.country' | translate }}</c-col>
                <c-col [md]="6">
                    {{ translateService.currentLang === 'kz' ? education.countryKz : education.countryRu }}</c-col>
            </c-row>
            <c-row>
                <c-col [md]="6" class="fw-medium">{{ 'person-portrait.date-begin' | translate }}</c-col>
                <c-col [md]="6">{{ education.dstart }}</c-col>
            </c-row>
            <c-row>
                <c-col [md]="6" class="fw-medium">{{ 'person-portrait.date-end' | translate }}</c-col>
                <c-col [md]="6">{{ education.dend }}</c-col>
            </c-row>
        </c-col>
    </c-row>
</div>
