<c-card class="mb-4" [cBorder]="'secondary'" *ngIf="reportList.length > 0 && listCntId.length > 0">
    <c-card-header>
        <span class="pe-2"><svg cIcon name="cilCalculator"></svg></span>
        <strong *ngIf="reportCategory">
            {{ utilService.getLocalization(reportCategory.nameKz, reportCategory.nameRu) }}</strong>
        <span class="float-end" *ngIf="reportList.length > 0">
            <span>Скачать</span>
            <a role="button" class="btn btn-sm p-0 ms-2" (click)="reportService.exportTableToExcel('report-table')">
                <i class="fa fa-file-excel-o fs-5"></i>
            </a>
        </span>
    </c-card-header>
    <c-card-body>
        <div class="table-responsive">
            <table cTable bordered hover small id="report-table">
                <thead class="text-center align-middle table-header">
                <tr>
                    <th scope="col" rowspan="2">#</th>
                    <th scope="col" rowspan="2" class="region-column">{{ 'need-actions-page.region' | translate }}</th>
                    <th scope="col" rowspan="2"
                        class="value-column">{{ 'gov-agency-page.dynamic.mon.garden.cnt-3' | translate }}</th>
                    <th scope="col" rowspan="2"
                        class="value-column">{{ 'gov-agency-page.dynamic.mon.garden.cnt-4' | translate }}</th>
                    <th scope="col" rowspan="2"
                        class="value-column">{{ 'gov-agency-page.dynamic.mon.garden.cnt-5' | translate }}</th>
                    <th scope="col" rowspan="2"
                        class="value-column">{{ 'gov-agency-page.dynamic.mon.garden.cnt-6' | translate }}</th>
                    <th scope="col" rowspan="2"
                        class="value-column">{{ 'gov-agency-page.dynamic.mon.garden.cnt-7' | translate }}</th>
                    <th scope="col" rowspan="2"
                        class="value-column">{{ 'gov-agency-page.dynamic.mon.garden.cnt-8' | translate }}</th>
                    <th scope="col" rowspan="2"
                        class="value-column">{{ 'gov-agency-page.dynamic.mon.garden.cnt-9' | translate }}</th>
                    <th scope="row" colspan="3"
                        class="value-column">{{ 'gov-agency-page.dynamic.mon.garden.cnt-10-11-12' | translate }}</th>
                    <th scope="col" rowspan="2"
                        class="value-column">{{ 'gov-agency-page.dynamic.mon.garden.cnt-13' | translate }}</th>
                    <th scope="col" rowspan="2"
                        class="value-column">{{ 'gov-agency-page.dynamic.mon.garden.cnt-14' | translate }}</th>
                    <th scope="col" rowspan="2"
                        class="value-column">{{ 'gov-agency-page.dynamic.mon.garden.cnt-15' | translate }}</th>
                    <th scope="col" rowspan="2"
                        class="value-column">{{ 'gov-agency-page.dynamic.mon.garden.cnt-16' | translate }}</th>
                    <th scope="col" rowspan="2"
                        class="value-column">{{ 'gov-agency-page.dynamic.mon.garden.cnt-17' | translate }}</th>
                    <th scope="col" rowspan="2"
                        class="value-column">{{ 'gov-agency-page.dynamic.mon.garden.cnt-20' | translate }}</th>
                    <th scope="col" rowspan="2"
                        class="value-column">{{ 'gov-agency-page.dynamic.mon.garden.cnt-d' | translate }}</th>
                </tr>
                <tr>
                    <th scope="col"
                        class="value-column">{{ 'gov-agency-page.dynamic.mon.garden.cnt-10' | translate }}</th>
                    <th scope="col"
                        class="value-column">{{ 'gov-agency-page.dynamic.mon.garden.cnt-11' | translate }}</th>
                    <th scope="col"
                        class="value-column">{{ 'gov-agency-page.dynamic.mon.garden.cnt-12' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let item of reportList; let idx = index">
                    <tr class="text-center">
                        <td class="px-2">{{ idx + 1 }}</td>
                        <td class="text-start">
                            {{ utilService.getLocalization(item.region.nameKz, item.region.nameRu) }}
                        </td>
                        <td (click)="containsCntId(303) ? onShowListClick(303, item.region) : null"
                            [attr.role]="containsCntId(303) ? 'button' : null">{{ utilService.numberFormat(item.cnt3) }}</td>
                        <td (click)="containsCntId(304) ? onShowListClick(304, item.region) : null"
                            [attr.role]="containsCntId(304) ? 'button' : null">{{ utilService.numberFormat(item.cnt4) }}</td>
                        <td (click)="containsCntId(305) ? onShowListClick(305, item.region) : null"
                            [attr.role]="containsCntId(305) ? 'button' : null">{{ utilService.numberFormat(item.cnt5) }}</td>
                        <td (click)="containsCntId(306) ? onShowListClick(306, item.region) : null"
                            [attr.role]="containsCntId(306) ? 'button' : null">{{ utilService.numberFormat(item.cnt6) }}</td>
                        <td (click)="containsCntId(307) ? onShowListClick(307, item.region) : null"
                            [attr.role]="containsCntId(307) ? 'button' : null">{{ utilService.numberFormat(item.cnt7) }}</td>
                        <td (click)="containsCntId(308) ? onShowListClick(308, item.region) : null"
                            [attr.role]="containsCntId(308) ? 'button' : null">{{ utilService.numberFormat(item.cnt8) }}</td>
                        <td (click)="containsCntId(309) ? onShowListClick(309, item.region) : null"
                            [attr.role]="containsCntId(309) ? 'button' : null">{{ utilService.numberFormat(item.cnt9) }}</td>
                        <td (click)="containsCntId(310) ? onShowListClick(310, item.region) : null"
                            [attr.role]="containsCntId(310) ? 'button' : null">{{ utilService.numberFormat(item.cnt10) }}</td>
                        <td (click)="containsCntId(311) ? onShowListClick(311, item.region) : null"
                            [attr.role]="containsCntId(311) ? 'button' : null">{{ utilService.numberFormat(item.cnt11) }}</td>
                        <td (click)="containsCntId(312) ? onShowListClick(312, item.region) : null"
                            [attr.role]="containsCntId(312) ? 'button' : null">{{ utilService.numberFormat(item.cnt12) }}</td>
                        <td (click)="containsCntId(313) ? onShowListClick(313, item.region) : null"
                            [attr.role]="containsCntId(313) ? 'button' : null">{{ utilService.numberFormat(item.cnt13) }}</td>
                        <td (click)="containsCntId(314) ? onShowListClick(314, item.region) : null"
                            [attr.role]="containsCntId(314) ? 'button' : null">{{ utilService.numberFormat(item.cnt14) }}</td>
                        <td (click)="containsCntId(315) ? onShowListClick(315, item.region) : null"
                            [attr.role]="containsCntId(315) ? 'button' : null">{{ utilService.numberFormat(item.cnt15) }}</td>
                        <td (click)="containsCntId(316) ? onShowListClick(316, item.region) : null"
                            [attr.role]="containsCntId(316) ? 'button' : null">{{ utilService.numberFormat(item.cnt16) }}</td>
                        <td (click)="containsCntId(317) ? onShowListClick(317, item.region) : null"
                            [attr.role]="containsCntId(317) ? 'button' : null">{{ utilService.numberFormat(item.cnt17) }}</td>
                        <td (click)="containsCntId(320) ? onShowListClick(320, item.region) : null"
                            [attr.role]="containsCntId(320) ? 'button' : null">{{ utilService.numberFormat(item.cnt20) }}</td>
                        <td>{{ utilService.numberFormat(item.cntD) }}</td>
                    </tr>
                </ng-container>
                </tbody>
                <tfoot cTableColor="dark">
                <tr class="text-center fw-medium">
                    <td></td>
                    <td class="text-start">{{ 'total' | translate }}</td>
                    <td (click)="containsCntId(303) ? onShowListClick(303) : null"
                        [attr.role]="containsCntId(303) ? 'button' : null">{{ utilService.numberFormat(reportTotal.cnt3) }}</td>
                    <td (click)="containsCntId(304) ? onShowListClick(304) : null"
                        [attr.role]="containsCntId(304) ? 'button' : null">{{ utilService.numberFormat(reportTotal.cnt4) }}</td>
                    <td (click)="containsCntId(305) ? onShowListClick(305) : null"
                        [attr.role]="containsCntId(305) ? 'button' : null">{{ utilService.numberFormat(reportTotal.cnt5) }}</td>
                    <td (click)="containsCntId(306) ? onShowListClick(306) : null"
                        [attr.role]="containsCntId(306) ? 'button' : null">{{ utilService.numberFormat(reportTotal.cnt6) }}</td>
                    <td (click)="containsCntId(307) ? onShowListClick(307) : null"
                        [attr.role]="containsCntId(307) ? 'button' : null">{{ utilService.numberFormat(reportTotal.cnt7) }}</td>
                    <td (click)="containsCntId(308) ? onShowListClick(308) : null"
                        [attr.role]="containsCntId(308) ? 'button' : null">{{ utilService.numberFormat(reportTotal.cnt8) }}</td>
                    <td (click)="containsCntId(309) ? onShowListClick(309) : null"
                        [attr.role]="containsCntId(309) ? 'button' : null">{{ utilService.numberFormat(reportTotal.cnt9) }}</td>
                    <td (click)="containsCntId(310) ? onShowListClick(310) : null"
                        [attr.role]="containsCntId(310) ? 'button' : null">{{ utilService.numberFormat(reportTotal.cnt10) }}</td>
                    <td (click)="containsCntId(311) ? onShowListClick(311) : null"
                        [attr.role]="containsCntId(311) ? 'button' : null">{{ utilService.numberFormat(reportTotal.cnt11) }}</td>
                    <td (click)="containsCntId(312) ? onShowListClick(312) : null"
                        [attr.role]="containsCntId(312) ? 'button' : null">{{ utilService.numberFormat(reportTotal.cnt12) }}</td>
                    <td (click)="containsCntId(313) ? onShowListClick(313) : null"
                        [attr.role]="containsCntId(313) ? 'button' : null">{{ utilService.numberFormat(reportTotal.cnt13) }}</td>
                    <td (click)="containsCntId(314) ? onShowListClick(314) : null"
                        [attr.role]="containsCntId(314) ? 'button' : null">{{ utilService.numberFormat(reportTotal.cnt14) }}</td>
                    <td (click)="containsCntId(315) ? onShowListClick(315) : null"
                        [attr.role]="containsCntId(315) ? 'button' : null">{{ utilService.numberFormat(reportTotal.cnt15) }}</td>
                    <td (click)="containsCntId(316) ? onShowListClick(316) : null"
                        [attr.role]="containsCntId(316) ? 'button' : null">{{ utilService.numberFormat(reportTotal.cnt16) }}</td>
                    <td (click)="containsCntId(317) ? onShowListClick(317) : null"
                        [attr.role]="containsCntId(317) ? 'button' : null">{{ utilService.numberFormat(reportTotal.cnt17) }}</td>
                    <td (click)="containsCntId(320) ? onShowListClick(320) : null"
                        [attr.role]="containsCntId(320) ? 'button' : null">{{ utilService.numberFormat(reportTotal.cnt20) }}</td>
                    <td>{{ utilService.numberFormat(reportTotal.cntD) }}</td>
                </tr>
                </tfoot>
            </table>
        </div>
    </c-card-body>
</c-card>
