// Here you can add other styles

.table-link {
    color: inherit;
    cursor: pointer;
}

.scroll-body {
    overflow: auto;
    position: relative;
}

.profile-image {
    width: 150px;
    height: 150px;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    white-space: normal !important;
}

.sidebar-nav .nav-link {
    white-space: normal !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-18 {
    font-size: 18px !important;
}

.font-20 {
    font-size: 20px !important;
}

.font-22 {
    font-size: 22px !important;
}

.font-24 {
    font-size: 24px !important;
}
